html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 1.875rem;
  text-decoration: none;
}

h1, h2 {
  color: #b20953;
  font-family: "Sigmar One", sans-serif;
}
